* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #4296c0;
  color: aliceblue;
  border-radius: 25px;
  margin: 1rem 0;
  -webkit-box-shadow: -1px 1px 15px 5px #464545;
          box-shadow: -1px 1px 15px 5px #464545;
}

.header a {
  margin: 1rem;
  color: aliceblue;
}

.header a:hover {
  color: #ff6a6a;
}

.header .nav {
  height: 100%;
}

.header .nav .navMenu {
  position: relative;
  display: inline-block;
}

.header .nav .navMenu .menu {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  color: aliceblue;
  background-color: transparent;
  border: none;
}

.header .nav .navMenu:hover .drop-down {
  display: block;
}

.header .nav .navMenu .drop-down {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header .nav .navMenu .drop-down a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header .nav .navMenu .drop-down a:hover {
  background-color: rgba(70, 70, 70, 0.308);
}

.header .nav ul {
  display: none;
  font-size: 1.5rem;
  list-style-type: none;
}

.header .nav ul li {
  padding: 1rem;
}

.header .nav ul li:hover {
  background-color: #2b627e;
}

.header .nav span:hover ul {
  display: block;
}

.header .nav #up a {
  font-size: 3rem;
  bottom: .01px;
  right: .02rem;
  position: fixed;
  color: rgba(148, 148, 148, 0.705);
}

.header .nav #up a:hover {
  color: #4296c0;
}

.header .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header .profile h1, .header .profile h3 {
  cursor: default;
}

.header .profile h1 span:hover, .header .profile h3 span:hover {
  color: #ff6a6a;
}

.header .profile h1 {
  font-size: 1.5rem;
}

.header .profile h3 {
  font-size: 1rem;
}

.header .profile img {
  width: 50%;
  border-radius: 25px;
  -webkit-box-shadow: -1px 1px 10px 5px #464545;
          box-shadow: -1px 1px 10px 5px #464545;
}

.content .about, .content .edu, .content .contact, .content .skill, .content .language, .content .hobbies {
  background: rgba(240, 248, 255, 0.726);
  font-size: .8rem;
  cursor: pointer;
  border-radius: 25px;
  margin: 1rem;
  padding: 3rem;
  -webkit-box-shadow: -1px 1px 10px 5px #464545;
          box-shadow: -1px 1px 10px 5px #464545;
  line-height: 2;
}

.content .about ul, .content .edu ul, .content .contact ul, .content .skill ul, .content .language ul, .content .hobbies ul {
  margin: 0 1rem;
}

.content .about:hover, .content .edu:hover, .content .contact:hover, .content .skill:hover, .content .language:hover, .content .hobbies:hover {
  -webkit-box-shadow: -1px 1px 10px 5px #4296c0;
          box-shadow: -1px 1px 10px 5px #4296c0;
}

.content .contact ul {
  list-style-type: none;
}

.content .contact a {
  color: black;
}

.content .contact a:hover {
  color: #bb2a2a;
}

@media screen and (min-width: 800px) {
  .main .header, .main .content {
    width: 85%;
  }
  .main .header .profile .title h1 {
    font-size: 2rem;
  }
  .main .header .profile .title h3 {
    font-size: 1.5rem;
  }
  .main .content .about, .main .content .edu, .main .content .contact, .main .content .skill, .main .content .language, .main .content .hobbies {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    overflow-x: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 25vw;
    position: fixed;
    left: 0;
    top: 0px;
  }
  .main .header .profile .title h1, .main .header .profile .title h3 {
    font-size: 1.5rem;
  }
  .main .header .nav ul {
    display: block;
    margin-top: 2rem;
  }
  .main .header .nav .navMenu {
    display: none;
  }
  .main .header .nav #up a {
    font-size: 3.5rem;
    right: 2rem;
  }
  .main .content {
    margin-left: 25vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

html {
  scroll-behavior: smooth;
}

.main {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.274)), to(rgba(128, 0, 128, 0.274))), url("https://lh3.googleusercontent.com/oxxMv9X8pJEE9ehFRe_9Yu_R2d3cXVe4SWB3Fe6RiNBfV-btNiCW-O68Q9XwfrT_aJHjekj0DcRzRxBOiLTgsjWO3ep-aujuPyclhBDTHVnKH1AomxpeYGLsTV2F_tJg5VGLdUEirkYxvjwCKIaQUF_NlY9qkf4Lb9Vk9L-jqzrhEdmOvOHB81ez5Y_cJIVjp9BzqPDHAilKmSAQtyWtVtoPQzWwSVm7J3_iq66kTYzFvK82VNN1N5JiIOsx-5vbnCVSxOSqN_swT7ZuEQBGJNjKZJv8s4zN66VefdWTpcAUNWj326ts-zHK8CeejM_OrUynB7SChjVFHYW9uF5HANTISN3PrROU4PPYGTPkcnyW8c70oP0JeVWOluv0x8C4D_nB2vy57NE_mQ12unONxIA1iwU5C69ZTI6memqMV4V4pL3hk0SbLDKDdLO_jNiuzpOS0XF4Fta-fi9nxuSFiaZ3zSDAzHsiyHgV5A6P-GIEJ_AjhcxmGQNP6haQFGJ_tbaxWWxwq4X70Iu7fOWzi43BN61ZtwN8wLg4UGild42dowmq93Hsp89rrAJM0pz_f0XjBlay68Vbs8enKUhERLMqXQC0UvDruHEiGjfSKRermOy_hyISJWrNVbqlHU-srD1Ibq6i6UucVJLjrsfDLBHGeavtTHhBGPM28K4vAheZBV0aY2s7vQ61-ebPnA=w800-h533-no?authuser=0");
  background: linear-gradient(to right, rgba(255, 0, 0, 0.274), rgba(128, 0, 128, 0.274)), url("https://lh3.googleusercontent.com/oxxMv9X8pJEE9ehFRe_9Yu_R2d3cXVe4SWB3Fe6RiNBfV-btNiCW-O68Q9XwfrT_aJHjekj0DcRzRxBOiLTgsjWO3ep-aujuPyclhBDTHVnKH1AomxpeYGLsTV2F_tJg5VGLdUEirkYxvjwCKIaQUF_NlY9qkf4Lb9Vk9L-jqzrhEdmOvOHB81ez5Y_cJIVjp9BzqPDHAilKmSAQtyWtVtoPQzWwSVm7J3_iq66kTYzFvK82VNN1N5JiIOsx-5vbnCVSxOSqN_swT7ZuEQBGJNjKZJv8s4zN66VefdWTpcAUNWj326ts-zHK8CeejM_OrUynB7SChjVFHYW9uF5HANTISN3PrROU4PPYGTPkcnyW8c70oP0JeVWOluv0x8C4D_nB2vy57NE_mQ12unONxIA1iwU5C69ZTI6memqMV4V4pL3hk0SbLDKDdLO_jNiuzpOS0XF4Fta-fi9nxuSFiaZ3zSDAzHsiyHgV5A6P-GIEJ_AjhcxmGQNP6haQFGJ_tbaxWWxwq4X70Iu7fOWzi43BN61ZtwN8wLg4UGild42dowmq93Hsp89rrAJM0pz_f0XjBlay68Vbs8enKUhERLMqXQC0UvDruHEiGjfSKRermOy_hyISJWrNVbqlHU-srD1Ibq6i6UucVJLjrsfDLBHGeavtTHhBGPM28K4vAheZBV0aY2s7vQ61-ebPnA=w800-h533-no?authuser=0");
  font-family: 'Comfortaa', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */