.content{
    .about, .edu, .contact, .skill, .language, .hobbies{
        background: rgba(240, 248, 255, 0.726);
        font-size: .8rem;
        cursor: pointer;
        border-radius: 25px;
        margin: 1rem;
        padding: 3rem;
        box-shadow: -1px 1px 10px 5px rgb(70, 69, 69);
        line-height: 2;
        ul{
            margin: 0 1rem;
        }

        &:hover{
            box-shadow: -1px 1px 10px 5px #4296c0;
        }
    }
    .contact{
        ul{
            list-style-type: none;
        }
        a{
            color: black;
            &:hover{
                color: rgb(187, 42, 42);
            }
        }
    }
}